<div class="container mt-3">
  <%= form_with model: @task do |f| %>
    <div class="p-2">
      <%= f.text_field :title, placeholder: "Title" %>
    </div>
    <div class="p-2">
      <%= f.text_field :details, placeholder: "Details" %>
    </div>
    <div class="p-2">
      <%= f.label :completed %>
      <%= f.check_box :completed%>
    </div>
    <div class="btn btn-primary p-2">
      <%= f.submit "Submit"%>
    </div>
  <% end %>
  <%= link_to tasks_path do %>
  <i class="fa-solid fa-arrow-left-long"></i>
  <% end %>
</div>
